.parent{
    display: flex;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../src/assets/security.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}
.container{
    display: flex;
    flex-direction: column;
    
    width: 400px;
    height:350px;
    margin-right: 50%;
    
}
.input{
 display: flex;
 flex-direction: column;
 
 width: 100%;
 align-items: center;
 justify-content: center;

}
.input input{
    margin-top: 20px;
    padding: 15px;
    width:300px;
    border-radius: 10px;
    border:none;
    background-color: rgb(206, 192, 192);
}
.child1 button{
    margin-top: 25px;
    margin-left: 40%;
    color:white;
    background-color: blue;
    border:0px solid white;
    border-radius: 5px;
    width:65px;
    height: 35px;
}
.child2{
    margin-right: 50%;
}
.child2 button{
    color:white;
    background-color: slategrey;
    border:0px solid white;
    border-radius: 5px;
    width:120px;
    height: 35px;
    margin-top: 5px;

}
.child1 h1{
    color:white;
    margin-left: 40%;
}
